@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
}

a {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Roboto;
}

.navigation-bar {
  background-color: #42327c;
}

.navigation-bar .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.navigation-bar .navigation img {
  width: 100px;
  height: 100px;
}

.navigation-bar .navigation .navigation-links {
  padding: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-bar .navigation .navigation-links .navigation-link {
  margin: 0.4rem;
  padding: 1rem;
  list-style-type: none;
  color: white;
}

.navigation-bar .navigation .navigation-links .navigation-link:hover {
  background-color: white;
  border-radius: 5px;
  color: #42327c;
  cursor: pointer;
}

.banner {
  background-color: #fee74b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50vh;
}

.banner .banner-title {
  width: 40%;
  font-size: 2rem;
  margin: 0 4rem;
  text-align: left;
}

.banner .banner-image {
  margin: auto;
}

#mantri-card {
  /* all employee cards */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  /* border: 1px solid black; */
  margin: 0px auto;
}

.bold {
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.4;
}

.card {
  width: 280px;
  margin: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0;
          box-shadow: 0 4px 8px 0;
  margin: 3rem;
}

.card-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.4rem;
}

.card-content-header img {
  height: 35px;
  width: 35px;
}

.card-content-header .employee-heading {
  padding: 0 0.4rem;
  width: 70%;
}

.card-content-image {
  border-radius: 5px;
  height: 20%;
}

.card-content-image img {
  height: 100%;
  width: 99%;
  padding: 0.1rem;
}

.employee-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0.5rem;
}

.employee-details .employee-detail {
  padding: 0.1rem;
  border-bottom: 1.5px solid grey;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.employee-details .voteshare {
  border: none;
}

.employee-details .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.1rem;
}

.employee-details .footer p {
  font-size: 0.7rem;
}

.why-buy {
  background-color: #fee74b;
  padding: 5rem;
  text-align: center;
  color: #42327c;
  font-weight: 400;
}

.why-buy h1 {
  font-size: 3rem;
  margin: 2rem auto;
  font-weight: bold;
}

.why-buy p {
  font-size: 1.3rem;
  line-height: 1.4;
}

.page-footer {
  color: white;
  background-color: #42327c;
  height: 30vh;
}

.page-footer .footer1 {
  margin: auto;
  padding: 3rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-footer .footer1 h1 {
  text-align: center;
}

.page-footer .footer1 .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer .footer1 .footer-links .footer-link {
  list-style-type: none;
  margin: 1rem;
}

.page-footer .footer1 .footer-links a {
  text-align: center;
  color: white;
}

.page-footer .footer1 .footer-links a:hover {
  border-bottom: 1px solid white;
}

.page-footer .copyright-info {
  margin: auto;
  width: 80%;
}

@media (max-width: 756px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-title {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  .banner-image {
    display: none;
  }
  .footer1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer1 .footer-link {
    margin-top: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */